
    <div class="nav-main-container">
        <div class="logo-container">
            <img src="img/logo.png" alt="">
        </div>

        <div class="navbar">

            <div class="link-container"><div class="link-border board-link"></div><a class="board-text" href="index.html"><span>Board</span></a></div>
            <div class="link-container"><div class="link-border backlog-link"></div><a class="backlog-text" href="backlog.html"><span>Backlog</span></a></div>
            <div class="link-container"><div class="link-border addTask-link"></div><a class="addTask-text" href="addTask.html"><span>Add Task</span></a></div>
            <div class="link-container"><div class="link-border help-link"></div><a class="help-text" href="help.html"><span>Help</span></a></div>

        </div>

    </div>

    <div class="user-img-container">
        <img class="user-img" src="img/profile.png" alt="">
    </div>

